@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../assets/fonts/stylesheet.css';
:root {
  --form-control-color: #6764f1;
  --form-control-disabled: rgba(245, 245, 245, 0.08);
}
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--form-control-disabled);
  border-radius: 10px;
}
